@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto:300');
/*CSS Reset*/
body {
  margin: 0;
}
header {
  display: grid;
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: 0px 0px 0px 0px;
  background: linear-gradient(rgb(93, 180, 180), pink);
  background: -webkit-linear-gradient(rgb(93, 180, 180), pink);
  background: -webkit-gradient(linear, center top, center bottom, color-stop(rgb(93,180,180),pink), color-stop(pink));
  background: -ms-linear-gradient(rgb(93, 180, 180), pink);
  /*Gradient code format provided by Colorzilla's Gradient Generator*/
  background-position: center top;
  color: #fff;
  text-align: center;
  line-height: 15px;
  box-shadow:0px 0px 1px 0px;
  /*max-width: 960px;*/
  margin: 0px auto 0px auto;
}

#navi {
  display: block;
  position: fixed;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight:700;
  background-color: rgba(248, 248, 248, 0.9);
  padding: 20px 0px;
  line-height: 50px;
  text-align:right;

}

#resume {
  padding: 0px 5px 0px 5px;
}

#portfolio {
  padding: 0px 5px 0px 5px;
}

#contact {
  padding: 0px 5px 0px 5px;
  margin-right: 10px;
}

#about {
  padding: 0px 5px 0px 5px;
}

/*Resume CSS*/

.image {
  border-radius: 50%;
  border: 1px solid rgb(248, 248, 248);
  margin-top: 100px;
}

a {
  text-decoration: none;
  color: rgb(192, 91, 176);
}

a:hover{
  color: rgb(93, 180, 180);
}

a:active {
  color: rgb(246, 203, 121);
}

a:visited {
  color: rgb(255, 0, 101);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #343434;
}

h1 {
  font-size: 76px;
  color: #fff;
}

#objective {
  box-shadow:0px 0px 1px 0px;
  margin: 0px auto 20px auto;
  padding: 20px 40px 20px 40px;
  text-align: left;
  background-color: rgb(248, 248, 248);
  color: #343434;
  /*max-width: 880px;*/

}

#objective h2{
  margin-top: 0px;
  margin-bottom: 0px;
}


h2 {
  text-transform: uppercase;
}



h4 {
  margin-bottom: 5px;
}

#hfont {
  font-size: 36px;
}

.hlink, #paragraph{
  font-size: 22px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#envelope {
  text-align: right;
}


#linkedin {
  text-align: left;
}


#paragraph {
  font-family: 'Roboto', sans-serif;
  color: #2f2f2f;
  font-weight: 300;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  font-family: 'Roboto', sans-serif;
  color: #2f2f2f;
  font-weight: 300;
  max-width: 960px;
  margin: 0px auto;

}

.lineheight {
margin: 0px;
line-height: 1.3em;
}

.underline {
  display: inline-block;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: rgb(246, 203, 121);
  padding: 0px 0px 10px 0px;
}


.underlinebottom {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(93, 180, 180, 0.3);
}

#space {
  margin-bottom: 18px;
}

/*Portfolio CSS*/

#portfoliohead {
height: 225px;

}

#portfoliohead h2 {
  color: #fff;
  font-size: 36px;
  margin: 70px 0px 0px 0px;
}

#portfoliomain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin: 20px auto 0px auto;
  max-width: 981px;
  overflow: hidden;
  grid-gap: 17px;
}


#venezuela,
#salsa {
  position: relative;
  border: 1px solid rgb(255, 0, 101);
  height: 270px;
}

#salsainfo,
#salsaimg,
#veninfo,
#venimg {
  position: absolute;
  top: 0;
  left: 0;

  width: 480px;
  height: 276px;
}

#venimg {
  z-index: 5;
}

#veninfo {
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #fff;
}

#veninfo p {
  opacity: 0;
  transition: opacity 1s linear;
}

#veninfo:hover p {
  opacity: 1;
  transition: opacity 1s linear;
}

#veninfo + #venimg {
  opacity: 1;
  transition: opacity 1s linear;
}

#veninfo:hover + #venimg {
  opacity: 0.8;
  transition: opacity 1s linear;
}


/* salsa effect */


#salsaimg {
  z-index: 5;
}

#salsainfo {
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #fff;
}

#salsainfo p {
  opacity: 0;
  transition: opacity 1s linear;
}

#salsainfo:hover p {
  opacity: 1;
  transition: opacity 1s linear;
}

#salsainfo + #salsaimg {
  opacity: 1;
  transition: opacity 1s linear;
}

#salsainfo:hover + #salsaimg {
  opacity: 0.8;
  transition: opacity 1s linear;
}
/*Overlay Code Prototype Provided by Erin Brown*/

/*Contact CSS*/

.wrappercontact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Roboto', sans-serif;
  /*max-width: 960px;*/
  margin: 30px 0px 0px 0px;
}

.map {
  margin-left: 20px;
  border: 0.2px solid rgb(255, 0, 101);
}
#ctitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#contacttext {
  margin-left: 20px;
  margin-right: 20px;
}

.cenvelope {
/*margin-left: 20px;*/
text-align: center;
}

/*About CSS*/
#abouthead {
  height: 90px;
}
.aboutwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto', sans-serif;
}

#atitle {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .08em;
}

#descriptive {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .27em;
  font-weight: 200;
}

.rightc {
  margin: 0px auto;
  max-width: 500px;
}
/*
  CSS grid scaffolding provided by Erin Brown.
  http://github.com/umiami-web-design/grid-templates
*/
